<!DOCTYPE html>
    <head>
         {%load static%}
          <meta charset="utf-8">
          
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>ICoutsource</title>
          <meta name="description" content="">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="{%static 'main2.css'%}">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
          <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fontawesome.com/icons/circle-up?f=sharp&s=light&an=shake">
        <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="https://fontawesome.com/icons/circle?f=classic&s=light">
    </head>
    <body>
          <header>
              <img class="logo" src="{%static "logo_final_r.png" %}" alt="logo">
                
              <a class="cta" href="https://calendly.com/icoutsourcebooking/book-your-free-discovery-call" style="padding-top: 1px;"><button>Book a FREE Call Now</button></a>
          </header>
          <h3 class="mid-message" style="padding-left: 10%; padding-bottom: 3px; padding-top: 5%;" >We Help Dental Businesses </h3>
          <h3 class="mid-message" style="padding-left: 10%; padding-bottom: 3px;">Automate Their Systems and </h3>
          <h3 class="mid-message" style="padding-left: 10%; padding-bottom: 10px;">Processes Using AI Technology </h3>
          <p class="mid-message" style="padding-left: 10%; ">AI automation technology</p>
          <p class="mid-message" style="padding-left: 10%; ">empowers dental businesses to</p>
          <p class="mid-message" style="padding-left: 10%; ">drive efficiency, enhance</p>
          <p class="mid-message" style="padding-left: 10%; ">customer experience, boost </p>
          <p class="mid-message" style="padding-left: 10%; ">sales, and stay competitive in the</p>
          <p class="mid-message" style="padding-left: 10%; ">digital marketplace</p>
          <h3 style="padding-top: 10%; text-align: center; padding-bottom: 5%; font-size: 2pc;">When You join Our Program You Get One Mounth FREE Access To</h3>

          <div class="services">
           
            <div class="container">
                <div class="box">
                      <div class="icon">
                        
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <div class="details">
                          <h3>Google Reviews Campaign</h3>
                          <p>Having better reviews means a better buyer outlook.</p>
                          
                          
                      </div>
                </div>
                  
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-server"></i>
                    </div>
                    <div class="details">
                        <h3>Database Reactivation Campaign</h3>
                        <p>Get in touch with at least 3% of your old inactive patients</p>
                        
                       
                    </div>
                </div>
                
                <!--<div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-wrench"></i>
                    </div>
                    <div class="details">
                        <h3>Custom Service</h3>
                        <p>-Facebook Ads</p>
                        <p>-Google Ads</p>
                        <a class="cta" href="see_more_basic.html"><button>See more</button></a>
                    </div>
                    
                </div>-->
               
            </div>
            <h3 style="padding-top: 10%; text-align: center; padding-bottom: 5%; font-size: 2pc;">This is What We Offer</h3>
            <div class="container">
            <div class="box">
                <div class="icon" style="padding-top: 0%; ">
                    <i class="fa-solid fa-atom"></i>
                </div>
                <div class="details">
                    <h3 style="padding-top: 10%;">AI Automation</h3>
                    <p>-Prospecting chatbots</p>
                    <p>-Customer service chatbots</p>
                    <p>-Data analysis/insights chatbots</p>
                </div>
            </div>
        </div>
        <a class="cta" href="https://calendly.com/icoutsourcebooking/book-your-free-discovery-call" style="padding-top: 10%; padding-left: 40%;"><button>Book a FREE Call Now</button></a>
          <section id="testimonials">
            <!--heading--->
            <div class="testimonial-heading">
                <span style=" font-size: 38px;font-family: Montserrat, sans-serif; padding-top: 10%;">See What Our Clients are saying about us...</span>
                
            </div>
            <!--testimonials-box-container------>
            <div class="testimonial-box-container">
                <!--BOX-1-------------->
                <div class="testimonial-box">
                    <!--top------------------------->
                    <div class="box-top">
                        <!--profile----->
                        <div class="profile">
                            <!--img---->
                            <div class="profile-img">
                                <img src="apple2.png" />
                            </div>
                            <!--name-and-username-->
                            <div class="name-user">
                                <strong>Coming soon...</strong>
                                
                            </div>
                        </div>
                        <!--reviews------>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i><!--Empty star-->
                        </div>
                    </div>
                    <!--Comments---------------------------------------->
                    <div class="client-comment">
                        <p>Soon to be expected...</p>
                    </div>
                </div>
                <!--BOX-2-------------->
                <div class="testimonial-box">
                    <!--top------------------------->
                    <div class="box-top">
                        <!--profile----->
                        <div class="profile">
                            <!--img---->
                            <div class="profile-img">
                                <img src="merc.jpg" />
                            </div>
                            <!--name-and-username-->
                            <div class="name-user">
                                <strong>Coming soon...</strong>
                                
                            </div>
                        </div>
                        <!--reviews------>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i><!--Empty star-->
                        </div>
                    </div>
                    <!--Comments---------------------------------------->
                    <div class="client-comment">
                        <p>Soon to be expected...</p>
                    </div>
                </div>
                <!--BOX-3-------------->
                <div class="testimonial-box">
                    <!--top------------------------->
                    <div class="box-top">
                        <!--profile----->
                        <div class="profile">
                            <!--img---->
                            <div class="profile-img">
                                <img src="bmw.png" />
                            </div>
                            <!--name-and-username-->
                            <div class="name-user">
                                <strong>Coming soon...</strong>
                               
                            </div>
                        </div>
                        <!--reviews------>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i><!--Empty star-->
                        </div>
                    </div>
                    <!--Comments---------------------------------------->
                    <div class="client-comment">
                        <p>Soon to be expected...</p>
                    </div>
                </div>
                <!--BOX-4-------------->
                <div class="testimonial-box">
                    <!--top------------------------->
                    <div class="box-top">
                        <!--profile----->
                        <div class="profile">
                            <!--img---->
                            <div class="profile-img">
                                <img src="apple2.png" />
                            </div>
                            <!--name-and-username-->
                            <div class="name-user">
                                <strong>Coming soon... </strong>
                                
                            </div>
                        </div>
                        <!--reviews------>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i><!--Empty star-->
                        </div>
                    </div>
                    <!--Comments---------------------------------------->
                    <div class="client-comment">
                        <p>Soon to be expected...</p>
                    </div>
                </div>
    </body>
</html>