<!DOCTYPE html>
    <head>
        {%load static%}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>See More Basic Service</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'see_more_basic.css'%}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fontawesome.com/icons/circle-up?f=sharp&s=light&an=shake">
        <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="https://fontawesome.com/icons/circle?f=classic&s=light">
    </head>
    <body>

        <header>
            
            <img class="logo" src="{%static "image_400.png" %}" alt="logo">
            <a class="cta" href="booking"><button>Book a Discovery Call</button></a>
            
        </header>
        <h2 class="mid-message" style ="font-size: 50px;padding-bottom: 5%;">The Basic Service</h2>
        <p class="text">This is the Basic Service, wich contains the following services:</p>
        <p class="text">-Facebook Adds</p>
        <p class="text">-Google Adds</p>
        <p class="text">-Site Creation </p>

    </body>
</html>